ebnerd_demo/processed/train.parquet
ebnerd_demo/train/behaviors.parquet
ebnerd_demo/train/history.parquet
ebnerd_demo/validation/behaviors.parquet
ebnerd_demo/validation/history.parquet
ebnerd_demo/articles.parquet

ebnerd_large/train/behaviors.parquet
ebnerd_large/train/history.parquet
ebnerd_large/validation/behaviors.parquet
ebnerd_large/validation/history.parquet
ebnerd_large/articles.parquet

ebnerd_small/train/behaviors.parquet
ebnerd_small/train/history.parquet
ebnerd_small/validation/behaviors.parquet
ebnerd_small/validation/history.parquet